*{
    font-family: 'Noto Sans JP', sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
html{
    font-size: 1px;
}
body{
    font-size: 18rem;
    margin: 0; 
    color: rgb(53, 51, 51)
}
.mobile{
    display: none;
}

a{
    text-decoration: none;
}
.side-content{
    width: 40%;
    border-left: 1px solid rgb(192, 190, 190);
}
.side-content a{
    color: royalblue;
}
.side-content img{
    width: 35%;
    height: auto;
    margin: 16px;
}
.small-box{
    width: 65%;
}
.grey-box{
    background-color: rgb(192, 190, 190);
}
.box-container{
    display: flex;
    align-items: center;
}
/*header section desktop version */
header{
    height: 64rem;
    margin: 20rem 0 0 24rem;
}
.desktop-header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
header i{
    font-size: 32rem;
}
.academy{
    color: rgb(109, 107, 107);
    font-weight: 400;
}
.header-content{
    margin-right: 24rem;
}
.header-content p{
    display: inline;
    margin: 16rem;
}
.header-content a{
    color: rgb(53, 51, 51);
    opacity: .9;
}
/* start learning section */
.start-learning{
    display: flex;
    align-items: center;
    background-color: rgb(192, 190, 190);
}
.start-learning img{
    width: 60%;
    height: 450rem;
    margin: 32rem 24rem;
}
.start-here h2{
    font-size: 40rem;
    font-weight: 900;
}
.start-here h3{
    margin: 30rem 0;
}
.start-here h4{
    background-color: rgb(53, 51, 51);
    color: white;
    text-align: center;
    padding: 10rem 0;
}
/* Orientation bo section */
.orientation{
    display: flex;
    margin-top: 32rem;
}
/* practicing portion */
.practice{
    margin: auto 24rem;
    width: 60%;
}
.practice img{
    width: 100%;
    margin-bottom:32rem ;
}
.practice h2{
    margin: 0;
    font-weight: 800;
    font-size: 40rem;
}
.practice p{
    margin: 24rem 0;
}
.emmanuel{
    font-weight: 500;
    margin-bottom: 32rem;
}
/* campus news boxes */

.campus-border{
    border-top: 1px double rgb(192, 190, 190);
}

/*the classes section */
.learn{
    background-color: rgb(231, 231, 231);
    padding-bottom: 32rem;

}
.learn h2{
  text-align: center;
  padding-top: 32rem;
  font-size: 36rem;
}
.course-box{
    display: flex;
    justify-content: center;
    overflow-wrap: break-word;
    margin: 0 40rem;    
}
.course{
    width: 25%;
    height: 400rem;
    margin: 32rem;
    background-color: white;
}
.course img{
    height: auto;
    width: 100%;
}
.capital-course{
    padding: 8rem 0;
    font-weight: 400;
}
.course h3, .course p{
    padding-left: 16rem;
    width: 90%;
}
.course h3{
    padding-top: 16rem;

}
/* thesis section */
.thesis{
    display: flex;
    overflow-wrap: break-word;
}
.thesis-heading{
    font-size: 36rem;
    text-align: center;
    margin: 32rem 0;
}
.thesis video{
    width: 100%;
    margin-right: 24rem;
}
.thesis-left{
    margin-left: 24rem;
    width: 60%;
}
.thesis-left h3{
    margin: 24rem 0 8rem 0;

}
.thesis-left p{
    margin-bottom: 32rem;
}
#thesis-side{
    align-items: flex-start;
    margin-left: 24rem;
    border-left: none;
}
.thesis-box{
    margin: 0 auto;
}
/* footer section */
footer{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 16rem 24rem 32rem 24rem;
    opacity: .8;
    
}
.end i{
    font-size: 20rem;
}
.end p{
    display: inline-block;
    align-items: center;
}




/*media query section for mobile phones */
@media only screen and (max-width: 600px){

    .desktop{display: none;}
    .mobile, .start-learning{
        display: block;
        overflow: auto;
    }
    html{
        font-size: 1.2px;
    }
    /*header section */

    header .mobile{
        display: flex;
        justify-content: space-around;
    }
     header a{
        color:black;
        opacity: .9;
    }
    /* start learning section */
    .start-learning img{
        height: auto;
        width: 100%;
        margin: 0 0 32px 0;
    }
    .start-here{
        margin-left: 16px;
        color: rgb(53, 51, 51);
        height: 100%;
    }
    .start-here h2{
        color: rgb(53, 51, 51); 
        margin-bottom: 24px;
        font-weight: 900;
    }
    .start-here h4{
        background-color: rgb(129, 129, 129);
        text-align: center;
        color: white;
        margin: 24px 16px 32px 0;
    }
    /* Orientation mobile sectioin */
    .box-container{
        display: block;
    }
    .orientation{
        display: block;
        margin: 0;
    }
    .side-content{
        margin: 16px 16px 0 16px;
        width: auto;
        border-left: none;
    }
    .side-content img, .small-box{
        width: 100%;
    }
    .side-content h3,.side-content p,{
        margin-left: 16px;
    }
    .side-content img{
        margin: 0;
    }
    .small-box{
        margin: 16px;
    }
    .campus-border{
        border-bottom: none;
        border-top: none;
    }
    .grey-box, .learn{
        background-color: white;
    }
    /* the classes section */
    .learn{
        border-top: 1px solid rgb(192, 190, 190);
        border-bottom: 1px solid rgb(192, 190, 190);
        padding-bottom: 0 0 24px 16px;
    }
    .learn h2{
        padding-bottom: 16px; 
    }
    .mobile-course h3{
        background-color: rgb(192, 190, 190);
        color: rgb(53, 51, 51);
        opacity: .8;
        padding: 16px 0 24px 16px;
        margin: 0 0 8px 16px;
    }
    /* Thesis exhibit section */
    .thesis-heading{
        text-align: center;
        padding: 32px 0 16px 0;
        margin: 0;
    }
    .thesis-left{
        width: 100%;
        margin:0;
    }
    .thesis video{
        width: 100%;
        height: auto;
        margin-bottom: 24px;
        margin-right: 0;
    }
}
